/* Tailwind */
@import "tailwindcss";

/* Base app */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page base */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

/* Root size */
#root {
  min-height: 100vh;
}

/* Overflow guard */
html,
body {
  overflow-x: hidden;
}

/* Button base */
button {
  cursor: pointer;
  outline: none;
}

/* Scroll hide */
::-webkit-scrollbar {
  display: none;
}

/* Scroll hide */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hero motion */
@keyframes scroll-animation {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Hero track */
.scroll-animation {
  white-space: nowrap;
  animation: scroll-animation 30s infinite;
}
